




<div class="container-fluid">
    <h2> Our Services and Events Information </h2>
    <h3 class="event-heading"> Organise and Book Parties</h3>
    <hr />
    <div class="row">



        <div class="breakfast-column col-lg-3 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Birthday Party</h5>
                </div>
                <div class="card-image">
                    <img src="https://source.unsplash.com/1600x900/?party,events" class="img-fluid" alt="events">
                </div>
                <hr>

                <a href="/Organiser/create" class="btn  btn-secondary">Organize Now</a>
                <br />
                <a href="/Attendees/create" class="btn btn-danger">Book Now</a>
            </div>
        </div>




        <div class="breakfast-column col-lg-3 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Dinner Party</h5>
                </div>
                <div class="card-image">
                    <img src="https://source.unsplash.com/1600x900/?parties" class="img-fluid" alt="events">
                </div>
                <hr>
                <a href="/Organiser/create" class="btn  btn-secondary">Organize Now</a>
                <br />
                <a href="/Attendees/create" class="btn btn-danger">Book Now</a>
            </div>
        </div>






        <div class="breakfast-column col-lg-3 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Business Party</h5>
                </div>
                <div class="card-image">
                    <img src="https://source.unsplash.com/1600x900/?business-party" class="img-fluid" alt="events">
                </div>
                <hr>
                <a href="/Organiser/create" class="btn  btn-secondary">Organize Now</a>
                <br />
                <a href="/Attendees/create" class="btn btn-danger">Book Now</a>
            </div>
        </div>






        <div class="breakfast-column col-lg-3 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Cocktail Party</h5>
                </div>
                <div class="card-image">
                    <img src="https://source.unsplash.com/1600x900/?events" class="img-fluid" alt="events">
                </div>
                <hr>
                <a href="/Organiser/create" class="btn  btn-secondary">Organize Now</a>
                <br />

                <a href="/Attendees/create" class="btn btn-danger">Book Now</a>
            </div>
        </div>





    </div>
</div>

