


<html>

<link rel="stylesheet" type="text/css" href="~/Content/about.css" />

<section id="about">

    <div class="container-fluid">
        <h2 class="page-heading"> About Us </h2>
        <div class="row">
            <div class="col-lg-6 about-container">
                <img src="https://source.unsplash.com/1600x900/?about,hotel" class="img-fluid" alt="about-us">

            </div>

            <div class="col-lg-6 about-container">
                <p class="about-paragraph">
                    Our foundation in family goes back to 1957, when entrepreneur Jay Pritzker purchased the original Hyatt House motel. Pritzker and his brother, Donald, worked to grow the Hyatt brand, powered by their belief in the importance of family and care. As of June 30, 2021, Hyatt is a global hospitality company with 20 premier brands and more than 1,000 hotel and all-inclusive properties in 68 countries across six continents.


                    <br> <a class="btn btn-sm btn-warning" href="#"> Read more</a>
                    <div class="contact-phone">
                        <p> <span class="opening-hours"> Opening hours </span> </p>
                        <p> 24 hours services available </p>

                    </div>

                </p>
            </div>
        </div>


    </div>
</section>
</html>