

<video autoplay loop muted id="myVideo">
    <source src="~/Videos/seaview.mp4" type="video/mp4">
        </video>
<div class="jumbotron">
    <h1 class="homepage-title">
        Welcome to Sydney Harbor View
    </h1>
    <p class="lead">Sydney's No:1 Destination for Parties and Events Organsiation.</p>


    <a href="/Parties/Events" class="btn btn-primary btn-lg">Events Info &raquo;</a>
    <a href="/Organiser/Create" class="btn btn-warning btn-lg">Organize Now &raquo;</a>
    <a href="/GroupInfo/Index" class="btn btn-danger btn-lg">Group Information &raquo;</a>

</div>











