
<html>
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<link rel="stylesheet" type="text/css" href="~/Content/thanks.css" />

<body>


    <h2>Sydney Harbor View Hotel</h2>
    <p>    Sydeny's No:1 Destination</p>

    <div class="container-fluid">


        <div>
            <h3>Thanks! Your booking has been confirmed</h3>
            <p> You can Edit or view your details here<a href="Index" class="edit-btn"> Edit or View your Details</a> </p>
        </div>


        <div>
            <hr />
            <h2> Wants to Create or Book more Parties </h2>

            <a href="/Parties/Events" class="btn btn-warning"> Click Here</a>

        </div>


    </div>

</body>
</html>